$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$font-weight-light: 300
$background-color: #f0f0f0

body 
  font: 100% $font-stack
  font-size: 2.5em
  font-weight: $font-weight-light
  background-color: $background-color

h1
  font: 100% $font-stack